/* global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    padding: 30px;
    height: 100vh;
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

/* classes */

/* sections */

.ingred-form {
    width: 400px;
    height: auto;

    padding: 10px;
    margin: auto;
    border: 1px solid #000;
}

.ingred-form .ingred-field {
    margin: 30px 0;
}

.ingred-form .ingred-field .ingred-name,
.ingred-form .ingred-field .ingred-value {
    padding: 10px;
}

.ingred-form .btn-save {
    width: 100%;

    border: 1px solid #000;
    padding: 10px;
    outline: none;

    background: purple;
    color: #fff;

    cursor: pointer;
}

.ingred-form .btn-save:hover {
    opacity: 0.7;
}

.ingred-list-container {
    margin-top: 200px;
}

.stored-ingred {
    margin-bottom: 10px;
}

.ingred-list .stored-value {
    margin-left: 20px;
}