/* global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: start;

    height: 100vh;
    font-size: 1.6rem;
}

/* classes */

/* sections */

.ingred-form {
    padding: 10px;
    border: 1px solid #000;
}

.ingred-form .ingred-field {
    margin: 30px 0;
}

.ingred-form .ingred-field .ingred-name,
.ingred-form .ingred-field .ingred-value {
    padding: 10px;
}

.ingred-form .btn-save {
    width: 100%;

    border: 1px solid #000;
    padding: 10px;
    outline: none;

    background: purple;
    color: #fff;

    cursor: pointer;
}

.ingred-form .btn-save:hover {
    opacity: 0.7;
}